header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.911);
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background: url('../img/TrabajadoresUNM.jpg') rgba(80, 247, 47, 0.192) no-repeat center center scroll;
    background-size: cover;
}


header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.842);
    opacity: 0.8;
    z-index: 1;
}

.just_p {
    text-align: justify;
}